grid{

    font-family: 'Open Sans Condensed', arial, sans;
    padding: 50px;
    background: #FFFFFF;
    margin: 50px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

checkbutton
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;    
}

checkbutton check{
    min-width: 30px;
    min-height: 30px;
}

label
{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 100;
}
#label_h1
{
    font-family: Roboto, 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
}
#label_h2
{
    font-family: Roboto, 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}
#label_h3
{
    font-family: Roboto, 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
}
#warning
{
    font-family: 'Amiri Curan', Roboto;
    font-size: 12px;
    font-weight: normal;
    color:      #d9534f;
}
entry
{
    border: 1px solid #27A0A0;
    color: gray;
    min-width: 250px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
}


button
{
    min-width: 150px;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;    
    font-size: 10px; 
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
}
image
{
    padding: 50px 50px 50px 50px;

}
treeview.view button
{
    color: gray;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    border-radius: 0px;

}
#dialog
{
    font-family: 'Open Sans Condensed', arial, sans;
    padding: 50px;
    background: #FFFFFF;
    color: #797979;
    margin: 50px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}